@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>


<p>Este site serve como um intermidiador entre cliente e loja,aquite temos uma grande lista de varios produtos de varias empresas e sites,para facilitar a pesquisa dos mesmos</p>
