@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>Barffood</h1>
    <img src="~/fotos/cat.jpg" />
    <img src="~/fotos/dog.jpg" />
    <h2>Aqui so ira encontrar a melhor comida para os seu animais</h2>

</div>

